* {
    font-family: "Fira Sans", sans-serif;
}

img {
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
}

code, pre {
    font-family: "Oxygen Mono", monospace;
    background-color: #D6D6E9;
    white-space: pre;
    display: block;
    overflow: scroll;
}

pre {
    display: inline-block;
    margin: 0;
}

a {
    text-decoration: none;
    color: #292254;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: darkgrey;
    font-weight: 100;
}

#navigation {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;

    background-color: darkslateblue;

    position: fixed;
    width: 100vw;
    height: 10vh;

    font-variant: small-caps;
    font-stretch: ultra-expanded;
    font-weight: 200;

    margin: 0;
}

#page-title {
    display: flex;
    padding-left: 0.5rem;
    flex: 2 1 auto;
    font-size: 2rem;
}

#page-title {
    color: lightgrey;
}

#navigation > a > h1 {
    text-decoration: none;
    color: lightgrey; /* override */
    white-space: nowrap;
    font-size: 2rem;
}

#navigation > nav {
    
}

nav {

}

nav > ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;

    /* browser overrides for mobile */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

nav > ul > li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    border-left: 1px solid #8A88BB;
}

nav > ul > li:first-child {
    border-left: 3px solid #8A88BB;
}


nav > ul > li a {
    text-decoration: none;
    display: block;
    height: 2vh;
    padding: 4vh 1rem;
    color: lightgrey;
    justify-self: center;
    transition: all 0.5s ease-out;
}

@media (any-hover: hover) { /* make sure we can hover */
nav > ul > li > a:hover {
    background-color: lightgrey;
    color: darkslateblue;
}
}


/* scroll margin fix */
.anchor {
    scroll-margin-top: 10vh;
}

main {
    margin-top: 10vh; /* nav bar height */
    margin-bottom: 2vh;
    color: black;
    padding: 2rem 2rem;
}


footer {
    display: flex;
    align-content: flex-end;
    position: fixed;
    margin-top: 98vh;
    height: 2vh;
}

h3 {
    margin-left: 0.25rem;
}

h4 {
    margin-left: 0.5rem;
}

h4.bigly {
    font-size: 2rem;
}


.svg-cube > svg
{
  border: 1px solid black;
}
.svg-cube line
{
  stroke: #000;
  stroke-linecap: round;
}
.svg-cube line.back
{
  stroke-dasharray:2,2;
}
.svg-cube text
{
  color: #000;
  font-size: 6px;
  stroke: #fff;
  fill: #000;
  stroke-width:0.1;
}

.flipped {
    rotate: 180deg;
    transform-origin: center;
}

.skewed {
    transform: skewX(12deg) translateX(33px);
    transform-origin: center;
}

@keyframes greenchange {
    0%      {background-color: #3d8b48;}
    10%     {background-color: #50965a;}
    20%     {background-color: #63a26c;}
    30%     {background-color: #77ad7e;}
    40%     {background-color: #8ab991;}
    50%     {background-color: #9ec5a3;}
    60%     {background-color: #b1d0b5;}
    70%     {background-color: #c4dcc8;}
    80%     {background-color: #d8e7da;}
    90%     {background-color: #ebf3ec;}
    100%    {background-color: #ffffff;}
}

#transform-color-change {
    background-color: #367d40;
    animation-name: greenchange;
    animation-duration: 6s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
